<header class="header__wrapper">
  <div class="header__container">
    <ul class="menu">
      <li><a class="menu-logo" href="./index.html"></a>
        <picture>
          <source srcset="./images/nav/logo.png 1x,
                                        ./images/nav/logo.png 2x
                                        " media="(max-width: 824px)"/>
          <source srcset="./images/nav/logo.png 1x,
                                        ./images/nav/logo.png 2x " media="(max-width: 1279px)"/>
          <source srcset="./images/nav/logo.png" media="(min-width: 1280px)"/>
          <img
            class="menu-logo__img"
            src="./images/nav/logo.png"
            alt="Logo"
            width="69"
            height="55"
          />
        </picture>
      </li>
      <li class="menu__separator"></li>
      <li class="menu-item menu-item__youtube">
        <a class="menu-item__links" href="https://www.youtube.com/">Youtube</a></li>
      <li class="menu-item menu-item__instagram">
        <a class="menu-item__links" href="https://www.instagram.com/">Instagram</a></li>
      <li></li>
    </ul>
    <div class="header__background">
      <div class="menu-list">
        <ul>
          <li class="menu-list__item">
            <a href="">O nas</a>
          </li>
          <li class="menu-list__item"><a href="">Usługa i ceny</a></li>
          <li class="menu-list__item"><a href="">Barberzy</a></li>
          <li class="menu-list__item"><a href="">Kontakt</a></li>
        </ul>
        <div class="menu__separator"></div>
        <ul class="contact">
          <li>
            <a class="contact__item" href="+48 111 111 111">
              <span> +48 111 111 111 </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>