<section class="container section">
  <div>
    <h5 class="subtitle">
      <svg class="title__line">
        <use href="images/icons.svg#icon-Rectangle-5"></use>
      </svg>
      Dla
      prawdziwych mężczyzn
    </h5>
    <h1 class="title title--real-man">Nasi barberzy</h1>
  </div>
  <ul>
    <figure class="">
      <picture>
        <source srcset="
            ./src/images/Real-man/mobile/real_man_mob1.jpg   1x,
            ./src/images/Real-man/mobile/real_man_mob1@2x.jpg 2x" media="(max-width: 824px)"/>
        <source srcset="
            ./src/images/Real-man/mobile/real_man_mob2.jpg   1x,
            ./src/images/Real-man/mobile/real_man_mob2@2x.jpg 2x" media="(max-width: 1279px)"/>
        <source srcset="
            ./src/images/Real-man/mobile/real_man_mob3.jpg 1x,
            ./src/images/Real-man/mobile/real_man_mob3@2x.jpg 2x" media="(min-width: 1280px)"/>
        <img class="" src="
            ./src/images/Real-man/mobile/real_man_mob1.jpg" alt=""/>
      </picture>
      <figcaption>
        <span class="">John Smith</span>
        <span class="">Extreme Barber</span>
        <ul class="">
          <li>
            <a href class="">
              <svg class="">
                <use href="./src/images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href class="">
              <svg class="">
                <use href="./src/images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href class="">
              <svg class="">
                <use href="./src/images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href class="">
              <svg class="">
                <use href="./src/images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </figcaption>
    </figure>
    </li>
  </ul>
</section>
