<section class="container section">
  <div class="traditional-sql">
    <div>
      <h5 class="subtitle">
        <svg class="title__line">
          <use href="./images/icons.svg#icon-Rectangle-5"></use>
        </svg>
        TRADYCYJNA SZKOŁA
      </h5>
      <h1 class="title">Dlaczego klienci przychodzą do nas?</h1>
      <p class="sql__text">
        O nas mówią tylko dobrze. Ale najlepiej jeden raz zobaczyć i odczuć,
        niż 10 razy przeczytać.
      </p>
    </div>
    <div class="grid">
      <div class="grid__card">
        <p class="grid__title">600<sup class="grid__title_span">+</sup></p>
        <p class="grid__text">Zadowolonych klientów dziennie</p>
      </div>
      <div class="grid__card">
        <h1 class="grid__title">50<sup class="grid__title_span">+</sup></h1>
        <p class="grid__text">Nagród za najlepszą obsługę</p>
      </div>
      <div class="grid__card">
        <h1 class="grid__title">20<sup class="grid__title_span">+</sup></h1>
        <p class="grid__text">Najlepszych barberów Warszawy</p>
      </div>
      <div class="grid__card">
        <h1 class="grid__title">100<sup class="grid__title_span">+</sup></h1>
        <p class="grid__text">Prezentów stałym klientom</p>
      </div>
    </div>
  </div>
</section>
</body>
</html>
