<section class="container">
      <div class="sql">
        <div>
          <h5><svg class="title__line"><use href="images/icons.svg#icon-Rectangle-5"></use></svg>TRADYCYJNA SZKOŁA</h5>
          <h1>Dlaczego klienci przychodzą do nas?</h1>
          <p>
            O nas mówią tylko dobrze. Ale najlepiej jeden raz zobaczyć i odczuć,
            niż 10 razy przeczytać.
          </p>
        </div>
        <div>
          <div class="sql__box">
            <h1 class="sql__title">600</h1>
            <p>Zadowolonych klientów dziennie</p>
          </div>
          <div class="sql__box">
            <h1>50</h1>
            <p>Nagród za najlepszą obsługę</p>
          </div>
          <div class="sql__box">
            <h1>20</h1>
            <p>Najlepszych barberów Warszawy</p>
          </div>
          <div class="sql__box">
            <h1>100</h1>
            <p>Prezentów stałym klientom</p>
          </div>
        </div> 
      </div>
    </section>
  </body>
</html>
