.title__line {
  display: inline-block;
  width: 60px;
  height: 1px;
  fill: $lightBlack;
  transform: rotate(180deg);
  stroke: $lightBlack;
  padding-left: 20px;
}
.sql__box {
  height: 133px;
  width: 194px;
  border-radius: 0px;
  background-color: #f7f7f7;
}
.sql__title {
  display: inline-block;
  font-family: Open Sans;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.357;
  letter-spacing: 0.05em;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 6px;
}

.sql__text {
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.363;
  letter-spacing: 0em;
  text-align: center;
}

.sql__title_span {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.357;
  letter-spacing: 0em;
  text-align: center;
  color: $orange;
  padding: 27px 41px 34px 2px;
}
