.sql__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: $paragraph;
  text-align: left;
  margin-bottom: 44px;
  margin-top: 20px;
  min-width: 418px;
}

.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.grid__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 133px;
  width: 194px;
  border-radius: 0px;
  background-color: #f7f7f7;
}
.grid__title {
  font-family: Open Sans;
  text-align: center;
  display: inline-block;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.357;
  letter-spacing: 0.05em;
  margin-top: 21px;
  margin-bottom: 6px;
  color: $lightBlack;
}
.grid__title_span {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.357;
  letter-spacing: 0em;
  text-align: center;
  color: $orange;
  vertical-align: super;
}
.grid__text {
  width: 122px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  text-align: center;
  color: $lightBlack;
  margin-top: 0px;
  margin-bottom: 20px;
}

.grid__card:nth-child(2) {
  margin-top: 34px;
}
.grid__card:nth-child(3) {
  margin-top: -34px;
}

@include breakpoint-mobile {
}
@include breakpoint-tablet-por {
  .sql__subtitle {
    min-width: 284px;
  }
  .sql__title {
    margin-right: 268px;
    min-width: 420px;
  }
  .sql__text {
    min-width: 500px;
    padding-right: 188px;
  }
  .grid {
    margin-left: 239px;
  }
  .grid__card {
    width: 210px;
  }
}
@include breakpoint-desktop {
  .traditional-sql {
    display: flex;
    flex-direction: row-reverse;
  }
  .grid {
    padding-left: 100px;
    padding-right: 130px;
  }
  .grid__card {
    width: 170px;
  }
  // .grid__card:nth-child(1) {
  //   margin-top: -9px;
  // }

  .sql__subtitle {
    min-width: 205px;
  }
  .sql__title {
    margin-right: 125px;
    min-width: 445px;
  }
  .sql__text {
    width: 445px;
  }
}
